@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Under starta match kan du enkelt komma igång med en match direkt!</p>
    <img src="https://static.wixstatic.com/media/47d5b4_dd3b09af552847cbbe7e0e351451ae16~mv2.gif"
         alt="Ängbylogga"
         class="logo-image" />
</div>
