@page
@model TableTennis.Pages.Game.Create.IndexModel
@{
}
<h2>Table Tennis Scoreboard</h2>

<p>Välj kön till matchen.</p>

<head>
    <meta charset="UTF-8">
    <title>Välj kön</title>
</head>
<section class="gender">

    <div class="gender-selection">
        <h1>Välj kön</h1>
        <div class="gender-buttons">
            <a asp-page="./MatchForm" class="gender-button male">♂️ Kille</a>
            <a  asp-page="./MatchForm" asp-for="@Model.SetGender" class="gender-button female">♀️ Tjej</a>
        </div>
    </div>

</section>
</html>
